<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,209},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>UISprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,179},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>arms.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,90},{251,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,148}}</string>
                <key>sourceSize</key>
                <string>{251,148}</string>
            </dict>
            <key>armsBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{249,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,86}}</string>
                <key>sourceSize</key>
                <string>{249,86}</string>
            </dict>
            <key>armsF.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,450},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>armsred.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,269},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>arrowblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>arrowbule.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,473},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>arrowcroci.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>arrowred.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,264},{180,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,182}}</string>
                <key>sourceSize</key>
                <string>{180,182}</string>
            </dict>
            <key>arrowredb.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,358},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>arrowyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,503},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>blackBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,333},{171,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,45}}</string>
                <key>sourceSize</key>
                <string>{171,45}</string>
            </dict>
            <key>blackBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{158,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>circlebule.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,218},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,393},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>controller_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,543},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,541},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,240},{182,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{182,180}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>maincroci.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,532},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>missile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,206},{10,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{10,29}</string>
            </dict>
            <key>missile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,237},{8,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{8,32}</string>
            </dict>
            <key>missile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,175},{10,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{10,29}</string>
            </dict>
            <key>noads.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,651},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,446},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,180}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>product_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,331},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>product_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,97},{130,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>product_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,240},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>product_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,123},{120,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,93}}</string>
                <key>sourceSize</key>
                <string>{120,93}</string>
            </dict>
            <key>productbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,97},{206,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,165}}</string>
                <key>sourceSize</key>
                <string>{206,165}</string>
            </dict>
            <key>producttop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{265,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{265,83}}</string>
                <key>sourceSize</key>
                <string>{265,87}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,642},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>recorders.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,491},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>shareblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,380},{161,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,164}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>shareyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,601},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>shopblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,422},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>shopyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>sketchLine_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,90},{32,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,87}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>soundoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,604},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>soundoffwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{119,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{119,108}}</string>
                <key>sourceSize</key>
                <string>{123,112}</string>
            </dict>
            <key>soundon.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,494},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>soundonwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,159},{117,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{117,108}}</string>
                <key>sourceSize</key>
                <string>{121,112}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,464},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>stopStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,422},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>taskbtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{247,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,93}}</string>
                <key>sourceSize</key>
                <string>{247,93}</string>
            </dict>
            <key>taskbtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{354,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,93}}</string>
                <key>sourceSize</key>
                <string>{354,93}</string>
            </dict>
            <key>taskbtn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{554,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,42}}</string>
                <key>sourceSize</key>
                <string>{554,42}</string>
            </dict>
            <key>taskbtn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,42}}</string>
                <key>sourceSize</key>
                <string>{554,42}</string>
            </dict>
            <key>timecircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,384},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>yellowstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,420},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:654e0189c2a30c9ffe0cd0370ed92b2f:1/1$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
