<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TankBunker.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,163},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>TankBunkerBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,150},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bulletGrenad2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{7,6}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>bulletGrenade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,179},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{7,6}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>bulletGrenade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,183},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>bulletGrenade4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,179},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{11,10}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>bulletGrenade5.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,180},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{7,6}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>bulletGrenade6.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,171},{11,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{11,10}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>bulletGrenade7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{11,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{11,10}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>bulletGrenade8.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,171},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{7,6}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>bullet_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,66},{6,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{6,2}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bullet_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,183},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{6,6}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bullet_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,173},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>bullet_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,158},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>bullet_white_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,158},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>bullet_white_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,150},{6,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{6,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>comrade_Die.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,173},{8,13}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,13}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>door.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>house1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,108},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>house1_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,66},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>house2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>house2_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>playChoiceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,137},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8938f9b0b18e4c237ca440986d06945f:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
