<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball_Help_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,709},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Ball_Help_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,781},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Ball_Help_Hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,162},{120,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,175}}</string>
                <key>sourceSize</key>
                <string>{120,175}</string>
            </dict>
            <key>Ball_Help_RedBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,788},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Ball_hall_100ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,527},{124,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,75}}</string>
                <key>sourceSize</key>
                <string>{124,75}</string>
            </dict>
            <key>Ball_hall_100ball_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,606},{101,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,56}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>Ball_hall_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,949},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_hall_circle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,858},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>Ball_hall_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,527},{125,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,77}}</string>
                <key>sourceSize</key>
                <string>{125,77}</string>
            </dict>
            <key>Ball_hall_classic_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,339},{128,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,60}</string>
            </dict>
            <key>Ball_hall_common_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,223},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_hall_diamond_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{219,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,46}}</string>
                <key>sourceSize</key>
                <string>{219,46}</string>
            </dict>
            <key>Ball_hall_five_star_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,307},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>Ball_hall_five_star_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,275},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>Ball_hall_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Ball_hall_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,885},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Ball_hall_head_circle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,291},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Ball_hall_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{243,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,79}}</string>
                <key>sourceSize</key>
                <string>{243,79}</string>
            </dict>
            <key>Ball_hall_level_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{157,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,163}}</string>
                <key>sourceSize</key>
                <string>{157,163}</string>
            </dict>
            <key>Ball_hall_plus20.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,952},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>Ball_hall_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,721},{162,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,55}}</string>
                <key>sourceSize</key>
                <string>{162,55}</string>
            </dict>
            <key>Ball_hall_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,414},{162,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,55}}</string>
                <key>sourceSize</key>
                <string>{162,55}</string>
            </dict>
            <key>Ball_hall_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,721},{162,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,55}}</string>
                <key>sourceSize</key>
                <string>{162,55}</string>
            </dict>
            <key>Ball_hall_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,83},{243,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,77}}</string>
                <key>sourceSize</key>
                <string>{243,77}</string>
            </dict>
            <key>Ball_mathching_big_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,732},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>Ball_mathching_big_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,606},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>Ball_mathching_big_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,880},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>Ball_mathching_big_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,662},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>Ball_mathching_big_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,401},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>Ball_mathching_big_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,401},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>Ball_use_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,604},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,56}</string>
            </dict>
            <key>Ball_use_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>Ball_use_head_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>Ball_user_diamond_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{219,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,46}}</string>
                <key>sourceSize</key>
                <string>{219,46}</string>
            </dict>
            <key>Ball_user_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,949},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>hall_hall_net.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,858},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>hall_hall_wifi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_hall_wifi_net.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,162},{127,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,104}}</string>
                <key>sourceSize</key>
                <string>{127,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{501,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd186154aa4bee4fe189798a5cf74b70:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
