<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball_matching_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,608},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_matching_crown_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>Ball_matching_green_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,186},{310,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,90}}</string>
                <key>sourceSize</key>
                <string>{310,90}</string>
            </dict>
            <key>Ball_matching_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,452},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>Ball_matching_red_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,94},{310,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,90}}</string>
                <key>sourceSize</key>
                <string>{310,90}</string>
            </dict>
            <key>Ball_matching_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,604},{157,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,103}}</string>
                <key>sourceSize</key>
                <string>{157,103}</string>
            </dict>
            <key>Ball_matching_yellow_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{310,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,90}}</string>
                <key>sourceSize</key>
                <string>{310,90}</string>
            </dict>
            <key>Ball_mathching_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,556},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,504},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,452},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,440},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,388},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,336},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{10,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,120}}</string>
                <key>sourceSize</key>
                <string>{10,120}</string>
            </dict>
            <key>Ball_mathching_own.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,763},{10,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,120}}</string>
                <key>sourceSize</key>
                <string>{10,120}</string>
            </dict>
            <key>Ball_mathching_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,124},{10,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,4}}</string>
                <key>sourceSize</key>
                <string>{10,4}</string>
            </dict>
            <key>Ball_mathching_timer_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,278},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_room_blue_fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,669},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Ball_room_bule_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,394},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>Ball_room_green_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,336},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>Ball_room_green_fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,669},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Ball_room_master.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,660},{175,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,56}}</string>
                <key>sourceSize</key>
                <string>{175,56}</string>
            </dict>
            <key>Ball_room_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{173,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,56}}</string>
                <key>sourceSize</key>
                <string>{173,56}</string>
            </dict>
            <key>Ball_room_orange_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,278},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>Ball_room_orange_fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,254},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Ball_room_primary.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,492},{175,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,56}}</string>
                <key>sourceSize</key>
                <string>{175,56}</string>
            </dict>
            <key>Ball_room_red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,332},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>Ball_room_red_fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,176},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Ball_room_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,718},{174,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,57}}</string>
                <key>sourceSize</key>
                <string>{174,57}</string>
            </dict>
            <key>Ball_room_white_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,332},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>public_avatar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,92},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>public_panel_sub_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,60}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>single_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,775},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{498,779}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9b2378a213b2f0cd4c68d21c3195467:1/1$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
