<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball_matching_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,698},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_matching_crown_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,542},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>Ball_matching_green_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,186},{310,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,90}}</string>
                <key>sourceSize</key>
                <string>{310,90}</string>
            </dict>
            <key>Ball_matching_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,336},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>Ball_matching_red_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{310,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,90}}</string>
                <key>sourceSize</key>
                <string>{310,90}</string>
            </dict>
            <key>Ball_matching_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{157,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,103}}</string>
                <key>sourceSize</key>
                <string>{157,103}</string>
            </dict>
            <key>Ball_matching_yellow_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,90}}</string>
                <key>sourceSize</key>
                <string>{310,90}</string>
            </dict>
            <key>Ball_mathching_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,646},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,594},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,542},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,499},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,447},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,388},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_mathching_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{10,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,120}}</string>
                <key>sourceSize</key>
                <string>{10,120}</string>
            </dict>
            <key>Ball_mathching_own.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{10,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,120}}</string>
                <key>sourceSize</key>
                <string>{10,120}</string>
            </dict>
            <key>Ball_mathching_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{10,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,4}}</string>
                <key>sourceSize</key>
                <string>{10,4}</string>
            </dict>
            <key>Ball_mathching_timer_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,336},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_room_blue_fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,716},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Ball_room_bule_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,526},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>Ball_room_green_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,526},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>Ball_room_green_fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,448},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Ball_room_master.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,278},{246,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,48}}</string>
                <key>sourceSize</key>
                <string>{246,48}</string>
            </dict>
            <key>Ball_room_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,542},{245,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,48}}</string>
                <key>sourceSize</key>
                <string>{245,48}</string>
            </dict>
            <key>Ball_room_orange_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,278},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>Ball_room_orange_fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,107},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Ball_room_primary.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,551},{245,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,48}}</string>
                <key>sourceSize</key>
                <string>{245,48}</string>
            </dict>
            <key>Ball_room_red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,186},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>Ball_room_red_fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,107},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Ball_room_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,526},{245,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,48}}</string>
                <key>sourceSize</key>
                <string>{245,48}</string>
            </dict>
            <key>Ball_room_white_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,185},{260,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,56}</string>
            </dict>
            <key>public_avatar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,632},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>public_panel_sub_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{600,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,60}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>single_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{495,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2114692caeda55fdd46b4059f8ce42fa:1/1$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
