<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball_AB_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{500,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,150}}</string>
                <key>sourceSize</key>
                <string>{500,150}</string>
            </dict>
            <key>Ball_BallChange.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,720},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Ball_Black_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,658},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Black_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,40},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>Ball_Block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,912},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,912},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,348},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,314},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,280},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,305},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,850},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,720},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,658},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,788},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,271},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,237},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,596},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_Left_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,138},{33,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,60}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>Ball_Block_Right_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,76},{35,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,60}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>Ball_Blue_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,280},{20,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,137}}</string>
                <key>sourceSize</key>
                <string>{20,137}</string>
            </dict>
            <key>Ball_Close_Music_FG.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,476},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{64,66}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>Ball_Continue_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,424},{42,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{42,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Ball_Effect_Classicbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,404},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>Ball_Effect_Img_Boom0.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,515},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,238}}</string>
                <key>sourceSize</key>
                <string>{238,238}</string>
            </dict>
            <key>Ball_Effect_Img_Boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{257,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,257}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>Ball_Effect_Img_Boomline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,118}}</string>
                <key>sourceSize</key>
                <string>{720,118}</string>
            </dict>
            <key>Ball_Effect_Img_Damageblock.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,542},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Effect_Img_Damageblock_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,306},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Ball_Effect_Img_Damageblock_t0.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,208},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Ball_Effect_Img_Damageblock_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,534},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Effect_Img_Horizontalline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{720,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,32}}</string>
                <key>sourceSize</key>
                <string>{720,32}</string>
            </dict>
            <key>Ball_Effect_Img_Target.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,652},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Ball_Forthcoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,156},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>Ball_Forthcoming_Head_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,490},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>Ball_Game_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,604},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>Ball_Game_Img_Blockpiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,208},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Ball_Gray_Fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,220},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>Ball_Hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,306},{182,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,148}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>Ball_Home_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,280},{64,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{64,56}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>Ball_Imag_Item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,474},{40,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{40,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Imag_Item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,378},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{46,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Imag_Item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,280},{52,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{52,16}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Imag_Item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,382},{52,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{52,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Img_ClassicTrophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,329},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>Ball_ItemBG0.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,234},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_ItemBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,200},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_JieShao.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,584},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Ball_Music_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{64,56}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>Ball_Option.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,516},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Ball_Orange_Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,280},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>Ball_Progress_Black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>Ball_Progress_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,215},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>Ball_Recovery_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,156},{21,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,57}}</string>
                <key>sourceSize</key>
                <string>{21,57}</string>
            </dict>
            <key>Ball_Red_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,280},{20,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,137}}</string>
                <key>sourceSize</key>
                <string>{20,137}</string>
            </dict>
            <key>Ball_Restart_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,604},{50,54}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Ball_Result_DeepYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,492},{20,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,137}}</string>
                <key>sourceSize</key>
                <string>{20,137}</string>
            </dict>
            <key>Ball_Result_RedHeart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{151,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,135}}</string>
                <key>sourceSize</key>
                <string>{151,135}</string>
            </dict>
            <key>Ball_Result_ShowVideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,470},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>Ball_Result_TimerBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,302},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>Ball_Result_TimerRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,261},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>Ball_Score_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,788},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>Ball_Stop_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,404},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Ball_Tip_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{586,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,122}}</string>
                <key>sourceSize</key>
                <string>{586,122}</string>
            </dict>
            <key>Ball_Warn_Triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,268},{59,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{59,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c74b41241c79920228b461e56a1abd05:1/1$</string>
            <key>textureFileName</key>
            <string>Game.png</string>
        </dict>
    </dict>
</plist>
