<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball_AB_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,150}}</string>
                <key>sourceSize</key>
                <string>{500,150}</string>
            </dict>
            <key>Ball_Black_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,268},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Black_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,192},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>Ball_Block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,268},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,268},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,318},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,284},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,250},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,216},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,216},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,154},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,154},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,206},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,324},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,290},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ball_Block_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,154},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Ball_Block_Left_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,267},{33,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,60}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>Ball_Block_Right_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,228},{35,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,60}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>Ball_Forthcoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,154},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>Ball_Forthcoming_Head_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>Ball_Game_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,216},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>Ball_Gray_Fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,175},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>Ball_Hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{182,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,148}}</string>
                <key>sourceSize</key>
                <string>{182,148}</string>
            </dict>
            <key>Ball_Orange_Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,154},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>Ball_Progress_Black.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,998},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>Ball_Progress_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,998},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>Ball_Recovery_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,998},{21,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,57}}</string>
                <key>sourceSize</key>
                <string>{21,57}</string>
            </dict>
            <key>Ball_Score_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,216},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,154},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>Ball_Stop_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,926},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Ball_Tip_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{586,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,122}}</string>
                <key>sourceSize</key>
                <string>{586,122}</string>
            </dict>
            <key>Ball_Warn_Triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,206},{59,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{59,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cc9f2e734c1f445bf37e844548508d8:1/1$</string>
            <key>textureFileName</key>
            <string>Game.png</string>
        </dict>
    </dict>
</plist>
