<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball_7_Day_Login.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,162},{96,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,119}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>Ball_ADS_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{92,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,151}}</string>
                <key>sourceSize</key>
                <string>{92,151}</string>
            </dict>
            <key>Ball_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,362},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_BG_Obj.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,58},{704,64}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,64}}</string>
                <key>sourceSize</key>
                <string>{720,64}</string>
            </dict>
            <key>Ball_Diamond_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>Ball_Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>Ball_DiamondsBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,162},{20,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,53}}</string>
                <key>sourceSize</key>
                <string>{20,53}</string>
            </dict>
            <key>Ball_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,381},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Ball_Green_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,140},{20,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,134}}</string>
                <key>sourceSize</key>
                <string>{20,134}</string>
            </dict>
            <key>Ball_Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,362},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>Ball_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,381},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Ball_Red_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,118},{20,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,134}}</string>
                <key>sourceSize</key>
                <string>{20,134}</string>
            </dict>
            <key>Ball_Red_Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,239},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Ball_Reword_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,279},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>Ball_Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,260},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>Ball_Skin.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,177},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>Ball_Top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,173}}</string>
                <key>sourceSize</key>
                <string>{272,173}</string>
            </dict>
            <key>Ball_Top_Obj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{738,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{738,97}}</string>
                <key>sourceSize</key>
                <string>{740,97}</string>
            </dict>
            <key>Ball_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,177},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Ball_Yellow_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,96},{20,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,134}}</string>
                <key>sourceSize</key>
                <string>{20,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93f0be80478346d52c3032c4e3dab7de:1/1$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
