<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball_7_Day_Login.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,293},{96,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,119}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>Ball_ADS_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,166},{92,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,151}}</string>
                <key>sourceSize</key>
                <string>{92,151}</string>
            </dict>
            <key>Ball_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,969},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_BG_Obj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{704,64}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{704,64}}</string>
                <key>sourceSize</key>
                <string>{720,70}</string>
            </dict>
            <key>Ball_CheckPoint_BlackStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,980},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>Ball_CheckPoint_Home.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,624},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>Ball_CheckPoint_LockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,677},{134,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,129}}</string>
                <key>sourceSize</key>
                <string>{134,129}</string>
            </dict>
            <key>Ball_CheckPoint_NextBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,821},{134,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,129}}</string>
                <key>sourceSize</key>
                <string>{134,129}</string>
            </dict>
            <key>Ball_CheckPoint_UnLockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,813},{133,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,129}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>Ball_CheckPoint_YellowStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,980},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>Ball_Common_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,969},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Cut_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{630,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,2}}</string>
                <key>sourceSize</key>
                <string>{630,2}</string>
            </dict>
            <key>Ball_DiZheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,364},{147,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,149}}</string>
                <key>sourceSize</key>
                <string>{147,149}</string>
            </dict>
            <key>Ball_Diamond_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,686},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>Ball_Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,603},{60,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,81}}</string>
                <key>sourceSize</key>
                <string>{60,81}</string>
            </dict>
            <key>Ball_DiamondsBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,491},{20,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,65}}</string>
                <key>sourceSize</key>
                <string>{20,65}</string>
            </dict>
            <key>Ball_GetRewardDamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,170},{125,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,176}}</string>
                <key>sourceSize</key>
                <string>{125,176}</string>
            </dict>
            <key>Ball_GuangXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,170},{182,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,122}}</string>
                <key>sourceSize</key>
                <string>{182,122}</string>
            </dict>
            <key>Ball_Invate_HeadBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,702},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ball_Invate_HeadPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,600},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ball_Invate_Red_GetReward_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,297},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>Ball_Invate_Rewarded.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,287},{127,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,76}}</string>
                <key>sourceSize</key>
                <string>{127,76}</string>
            </dict>
            <key>Ball_Invate_UnRed_GetReward_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,294},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>Ball_Plus_Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,677},{131,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>Ball_Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,804},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>Ball_Rank_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>Ball_Rank_First.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,792},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>Ball_Rank_Friend_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{189,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,39}}</string>
                <key>sourceSize</key>
                <string>{189,39}</string>
            </dict>
            <key>Ball_Rank_Friend_unSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,114},{189,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,39}}</string>
                <key>sourceSize</key>
                <string>{189,39}</string>
            </dict>
            <key>Ball_Rank_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,365},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Ball_Rank_Head_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,908},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Rank_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,723},{196,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,4}}</string>
                <key>sourceSize</key>
                <string>{196,4}</string>
            </dict>
            <key>Ball_Rank_Second.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,740},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>Ball_Rank_Stretching_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,917},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Rank_Tab_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,531},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>Ball_Rank_Tab_UnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,339},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>Ball_Rank_Third.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,687},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>Ball_Rank_Watch_Group.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,723},{225,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,35}}</string>
                <key>sourceSize</key>
                <string>{225,35}</string>
            </dict>
            <key>Ball_Rank_World_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,75},{192,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,37}}</string>
                <key>sourceSize</key>
                <string>{192,37}</string>
            </dict>
            <key>Ball_Rank_World_UnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,723},{192,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,37}}</string>
                <key>sourceSize</key>
                <string>{192,37}</string>
            </dict>
            <key>Ball_Red_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,485},{20,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,137}}</string>
                <key>sourceSize</key>
                <string>{20,137}</string>
            </dict>
            <key>Ball_Red_Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,435},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Ball_Reword_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,702},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>Ball_Row.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>Ball_Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,365},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>Ball_Shop_Gifg_SheXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,695},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Ball_Shop_Gift_DiZheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,598},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Ball_Shop_Gift_FG.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,155},{141,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,130}}</string>
                <key>sourceSize</key>
                <string>{141,130}</string>
            </dict>
            <key>Ball_Shop_Gift_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,902},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Ball_Shop_Gift_Row.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,805},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Ball_Shop__10_Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,478},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>Ball_Shop__15_Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,902},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>Ball_Shop__20_Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,804},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>Ball_Shop__25_Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,479},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>Ball_Shop__50_Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,918},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>Ball_Shop__Ball_Shop__Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,392},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>Ball_Shop__Ball_Shop__TAB.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,753},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>Ball_Shop__Diamonds_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,603},{54,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>Ball_Shop__Diamonds_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,702},{101,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,67}}</string>
                <key>sourceSize</key>
                <string>{101,67}</string>
            </dict>
            <key>Ball_Shop__Diamonds_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,478},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>Ball_Shop__Diamonds_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,391},{114,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,85}}</string>
                <key>sourceSize</key>
                <string>{114,85}</string>
            </dict>
            <key>Ball_Shop__Diamonds_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,491},{139,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,85}}</string>
                <key>sourceSize</key>
                <string>{139,85}</string>
            </dict>
            <key>Ball_Shop__Diamonds_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,178},{131,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,113}}</string>
                <key>sourceSize</key>
                <string>{131,113}</string>
            </dict>
            <key>Ball_Shop__Diamonds_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,515},{160,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,103}}</string>
                <key>sourceSize</key>
                <string>{160,103}</string>
            </dict>
            <key>Ball_Shop__Diamonds_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,367},{160,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,122}}</string>
                <key>sourceSize</key>
                <string>{160,122}</string>
            </dict>
            <key>Ball_Shop__Diamonds_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,515},{160,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,122}}</string>
                <key>sourceSize</key>
                <string>{160,122}</string>
            </dict>
            <key>Ball_Shop__Diamonds_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,367},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Ball_Shop__Diamonds_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,439},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>Ball_Shop__Diamonds_UnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,585},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>Ball_Shop__Free_Flg.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,80},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>Ball_Shop__Gift_Box_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,645},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>Ball_Shop__Gift_Box_UnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,603},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>Ball_Shop__Item_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,856},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Shop__Red_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,952},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ball_Shop__Shop_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,970},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Shop__TAB_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,970},{51,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,80}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>Ball_Shop__TAB_UnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,878},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>Ball_Shop__Video.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,952},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>Ball_Shop__Yellow_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,576},{20,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,96}}</string>
                <key>sourceSize</key>
                <string>{20,96}</string>
            </dict>
            <key>Ball_SigIn_Gray_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,581},{20,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,113}}</string>
                <key>sourceSize</key>
                <string>{20,113}</string>
            </dict>
            <key>Ball_SigIn_Red_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,948},{20,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,137}}</string>
                <key>sourceSize</key>
                <string>{20,137}</string>
            </dict>
            <key>Ball_Sigln_DiZheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,858},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>Ball_Sigln_JiGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,930},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>Ball_Sigln_Plus_Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,793},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>Ball_Sigln_Row.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,293},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,25}}</string>
                <key>sourceSize</key>
                <string>{97,25}</string>
            </dict>
            <key>Ball_SignIn_Blue_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{170,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,212}}</string>
                <key>sourceSize</key>
                <string>{170,212}</string>
            </dict>
            <key>Ball_SignIn_DeepBlue_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{170,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,212}}</string>
                <key>sourceSize</key>
                <string>{170,212}</string>
            </dict>
            <key>Ball_SignIn_DuiHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,792},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>Ball_SignIn_Gray_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{170,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,212}}</string>
                <key>sourceSize</key>
                <string>{170,212}</string>
            </dict>
            <key>Ball_SignIn_Video.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,952},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Ball_SignIn_Yellow_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,632},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Skin.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,485},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>Ball_Top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{272,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,167}}</string>
                <key>sourceSize</key>
                <string>{272,167}</string>
            </dict>
            <key>Ball_Top_Obj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,96}}</string>
                <key>sourceSize</key>
                <string>{720,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12d5b335494673f2cf58a084a4ec3f36:1/1$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
