<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball_7_Day_Login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{96,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,119}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>Ball_ADS_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,311},{92,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,151}}</string>
                <key>sourceSize</key>
                <string>{92,151}</string>
            </dict>
            <key>Ball_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,943},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_BG_Obj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{704,64}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{704,64}}</string>
                <key>sourceSize</key>
                <string>{720,70}</string>
            </dict>
            <key>Ball_CheckPoint_BlackStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,931},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>Ball_CheckPoint_Bolt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,796},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Ball_CheckPoint_Bolt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,604},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Ball_CheckPoint_Home.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,634},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>Ball_CheckPoint_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,726},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>Ball_CheckPoint_LockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,405},{133,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,129}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>Ball_CheckPoint_UnLockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,171},{133,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,113}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>Ball_CheckPoint_YellowStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,931},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>Ball_Cut_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{630,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,2}}</string>
                <key>sourceSize</key>
                <string>{630,2}</string>
            </dict>
            <key>Ball_Diamond_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,536},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>Ball_Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,570},{60,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,81}}</string>
                <key>sourceSize</key>
                <string>{60,81}</string>
            </dict>
            <key>Ball_DiamondsBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,503},{20,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,65}}</string>
                <key>sourceSize</key>
                <string>{20,65}</string>
            </dict>
            <key>Ball_Invate_HeadBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,748},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ball_Invate_HeadPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Ball_Invate_Red_GetReward_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,241},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>Ball_Invate_Rewarded.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,526},{127,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,76}}</string>
                <key>sourceSize</key>
                <string>{127,76}</string>
            </dict>
            <key>Ball_Invate_TopBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{630,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,240}}</string>
                <key>sourceSize</key>
                <string>{630,240}</string>
            </dict>
            <key>Ball_Invate_UnRed_GetReward_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,171},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>Ball_Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,423},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>Ball_Rank_First.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,971},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>Ball_Rank_Second.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,971},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>Ball_Rank_Stretching_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,824},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Rank_Third.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,971},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>Ball_Red_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,280},{20,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,137}}</string>
                <key>sourceSize</key>
                <string>{20,137}</string>
            </dict>
            <key>Ball_Red_Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,800},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Ball_Reword_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,634},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>Ball_Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>Ball_Shop__10_Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>Ball_Shop__Ball_Shop__Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,526},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>Ball_Shop__Ball_Shop__TAB.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,526},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>Ball_Shop__Diamonds_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,850},{54,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>Ball_Shop__Diamonds_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,423},{101,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,67}}</string>
                <key>sourceSize</key>
                <string>{101,67}</string>
            </dict>
            <key>Ball_Shop__Diamonds_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,423},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>Ball_Shop__Diamonds_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,307},{114,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,85}}</string>
                <key>sourceSize</key>
                <string>{114,85}</string>
            </dict>
            <key>Ball_Shop__Diamonds_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,166},{139,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,85}}</string>
                <key>sourceSize</key>
                <string>{139,85}</string>
            </dict>
            <key>Ball_Shop__Diamonds_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,408},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Ball_Shop__Diamonds_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,800},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>Ball_Shop__Diamonds_UnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,932},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>Ball_Shop__Free_Flg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>Ball_Shop__Gift_Box_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,526},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>Ball_Shop__Gift_Box_UnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,526},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>Ball_Shop__Item_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,891},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Shop__Red_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,842},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ball_Shop__Shop_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,839},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Shop__TAB_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{51,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,80}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>Ball_Shop__TAB_UnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,850},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>Ball_Shop__Video.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,726},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>Ball_Shop__Yellow_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,405},{20,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,96}}</string>
                <key>sourceSize</key>
                <string>{20,96}</string>
            </dict>
            <key>Ball_SigIn_Gray_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,141},{20,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,137}}</string>
                <key>sourceSize</key>
                <string>{20,137}</string>
            </dict>
            <key>Ball_SigIn_Red_BTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{20,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,137}}</string>
                <key>sourceSize</key>
                <string>{20,137}</string>
            </dict>
            <key>Ball_SignIn_Blue_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,966},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_SignIn_DeepBlue_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,891},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_SignIn_Video.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,570},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Ball_SignIn_Yellow_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,914},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Ball_Skin.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,306},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>Ball_Top.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{272,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,167}}</string>
                <key>sourceSize</key>
                <string>{272,167}</string>
            </dict>
            <key>Ball_Top_Obj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,96}}</string>
                <key>sourceSize</key>
                <string>{720,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e67220c58ee72dc7a7c144b8a7fc6fa:1/1$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
